{{> heading }}

<h3>Hello {{ operator.name }}</h3>
<p>Due to inactivity, a booking for <a href="{{ service.url }}">{{ service.name }}</a> on <strong>{{ booking.date }}</strong> has expired.</p>
<p>This happens when a booking hasn't been approved or rejected by you.</p>
<p>We recommend you approve or reject bookings as soon as possible in order to retain customers.</p>
<p>Thank you for your cooperation</p>