{{> heading }}

<p>Hi {{ user.name }}!</p>

<p>Your booking for <a href="{{ service.url }}">{{ service.name }}</a> has been confirmed!</p>

<div class="spacer" />

<a href="{{ booking.url }}" class="cta">Click to view your booking</a>
