<h3>Hello {{ name }},</h3>

<p>Here is your password reset link. Click to set a new password.</p>

<p><strong>Note:</strong> This link will expire at {{ expires }}</p>

<a href="{{ resetPasswordUrl }}" class="cta">Reset password</a>
